p {
  font-family: Arial;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 18px;
}

.tweet-header {
  margin-bottom: 5px;
}

.tweet-author {
  font-weight: bold;
}

.tweet-info {
  color: gray;
}

.description {
  margin-bottom: 18px;
  width: 500px;
  line-height: 23px;
}

.user {
  color: rgb(0, 140, 255);
  cursor: pointer;
}