.five-a {
  font-family: Tahoma;
  font-weight: bold;
  font-size: 30px;
}

.five-b {
  font-family: Arial;
  font-weight: bold;
  font-size: 26px;
  margin-bottom: 8px;
}

.five-b-red {
  color: red;
  font-style: italic;
  font-family: Arial;
  font-size: 18px;
  margin-top: 0;
}

.five-c-title {
  font-family: Verdana;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 3px;
}

.five-c-subtitle {
  font-family: Verdana;
  margin-top: 0;
  color: rgb(100, 100, 100);
  font-size: 12px;
  margin-bottom: 18px;
}

.five-c-description {
  font-family: Verdana;
  font-size: 11px;
  width: 200px;
  margin-bottom: 18px;
}

.five-c-button {
  background-color: green;
  color: white;
  border: none;
  font-family: Verdana;
  font-size: 11px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 6px;
  cursor: pointer;
}

.five-d-title {
  font-family: Arial;
  font-size: 17px;
  font-weight: bold;
  margin-bottom: 15px;
  text-align: center;
}

.five-d-subtitle {
  font-family: Arial;
  text-align: center;
  font-size: 10px;
  margin-bottom: 0;
}

.five-d-learn-more {
  font-family: Arial;
  color: rgb(0, 119, 216);
  text-align: center;
  font-size: 10px;
}